/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Montserrat:wght@100..900&display=swap");

/*=============== VARIABLES CSS ===============*/


/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/


/*========== 
	Color changes in some parts of 
	the website, in dark theme
==========*/


/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}
.section__title {
  font-size: var(--big-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: 2rem;
}

.main {
  overflow: hidden;
}

/*=============== HEADER & NAV ===============*/


/* Navigation for mobile devices */


/* Show menu */


/* Change background header */


/* Active link */


/*=============== HOME ===============*/


/* Swiper class */


/*=============== BUTTON ===============*/


/*=============== DESTINATION ===============*/


/*=============== TESTIMONIAL ===============*/


/* Swiper class */


/*=============== GALLERY ===============*/


/*=============== JOIN ===============*/


/*=============== FOOTER ===============*/


/*=============== SCROLL BAR ===============*/


/*=============== SCROLL UP ===============*/


/* Show Scroll Up */


/*=============== BREAKPOINTS ===============*/
/* For small devices */


/* For medium devices */


/* For large devices */


/* For 2K resolutions (2048 x 1152, 2048 x 1536) */